.grow-1{
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    transition-property: transform;  
    -webkit-transition-property: transform;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    
}
.grow-1:hover, .grow-1:focus, .grow-1:active {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}